/*.mycanvas{
	width:700px;
	height:350px;
	background-color:red;
	border:1px;
	border-color:black;
	margin: auto;
}*/

/* #myCanvas{
	background-color:lime;
	border:7px;
	border-color:black;
	margin: auto;
}
}*/