body{
    background-color:white;
    color: #9a9c9c;
    font-size:18px;
    font-family: brandon-grotesque,futura, helvetica, sans-serif;
    letter-spacing:2px;
    text-align:center;
}
a{
    color:#9a9c9c;
    text-decoration:none;
}
.header{
    color: #9a9c9c;
    position: absolute;
    font-size:16px;
    line-height: 160%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    height:100px;
}

.plane{
    height:400px;
    width:400px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style:solid;
    border-color:white;
    
}

.spin:hover{
     position:absolute;
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:235px 165px;
}
@keyframes spinner
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 235px 165px;
}

.spin2:hover{
position:absolute;
    animation-name: spinner2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:235px 235px;
    z-index:-1;
}

@keyframes spinner2
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 235px 235px;
}
.spin3:hover{
position:absolute;
    animation-name: spinner3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:165px 235px;
    z-index:-2;
}
@keyframes spinner3
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 165px 235px;
}
.spin4:hover{
	position:absolute;
    animation-name: spinner4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:165px 305px;
    z-index:-3;
}
@keyframes spinner4
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 165px 305px;
}
.circle1{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:200px;
	top:60px;
	z-index:2;
}
.circle2{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:200px;
	top:130px;

}

.halfcircle{
    width: 35px;
	height: 70px;
	background: white;
	position:absolute;
	left:200px;
	top:130px;
	z-index:1;
}
.circle3{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:200px;
	top:200px;
}
.quartercircle1{
    width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:235px;
	top:200px;
	
}
.quartercircle2{
    width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:200px;
	top:235px;
    
}
.circle4{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:130px;
	top:200px;
}
.quartercircle3{
    width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:165px;
	top:200px;
}
.quartercircle4{
    width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:130px;
	top:235px;
}
.circle5{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:130px;
	top:270px;
}
.eighth1{
	border-top: 35px solid white;
	border-right: 35px solid transparent;
	position:absolute;
	margin-left:165px;
	margin-top:270px;
}
.eighth2{
	border-top: 35px solid white;
	border-left: 35px solid transparent;
	position:absolute;
	margin-left:165px;
	margin-top:305px;
}
.eighth3{
    border-bottom: 35px solid white;
	border-left: 35px solid transparent;
	position:absolute;
	margin-left:130px;
	margin-top:305px;
}
.eighth4{
    border-bottom: 35px solid white;
	border-right: 35px solid transparent;
	position:absolute;
	margin-left:130px;
	margin-top:270px;
}
.circle8{ width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:200px;
	top:270px;
}
.circle9{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:270px;
	top:270px;
}
.halfcircle2{
    width: 35px;
	height: 70px;
	background: white;
	position:absolute;
	left:305px;
	top:270px;
}
.spin5:hover{
	position:absolute;
    animation-name: spinner5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:305px 305px;
    z-index:-3;
}
@keyframes spinner5
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 305px 305px;
}

.circle10{
    width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:270px;
	top:200px;
}
.spin6:hover{
		position:absolute;
    animation-name: spinner6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:305px 165px;
    z-index:-3;
}
@keyframes spinner6
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 305px 165px;
}
.circle11{
	 width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:270px;
	top:130px;
}
.quartercircle5{
	width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:305px;
	top:130px;
}
.quartercircle6{
	width: 35px;
	height: 35px;
	background: white;
	position:absolute;
    left:270px;
	top:165px;
}
.spin7:hover{
		position:absolute;
    animation-name: spinner7;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:305px 95px;
    z-index:-3;
}
@keyframes spinner7
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 305px 95px;
}
.circle12{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:270px;
	top:60px;
}
.halfcircle3{
	width: 35px;
	height: 70px;
	background: white;
	position:absolute;
	left:270px;
	top:60px;
}
.circle13{
   width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:130px;
	top:130px;
}
.circle14{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:130px;
	top:60px;
}
.eighth5{
	border-top: 35px solid white;
	border-right: 35px solid transparent;
	position:absolute;
	margin-left:165px;
	margin-top:60px;
}
.eighth6{
	border-top: 35px solid white;
	border-left: 35px solid transparent;
	position:absolute;
	margin-left:165px;
	margin-top:95px;
}
.eighth7{
    border-bottom: 35px solid white;
	border-left: 35px solid transparent;
	position:absolute;
	margin-left:130px;
	margin-top:95px;
}
.eighth8{
    border-bottom: 35px solid white;
	border-right: 35px solid transparent;
	position:absolute;
	margin-left:130px;
	margin-top:60px;
}
.spin8:hover{
		position:absolute;
    animation-name: spinner8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:165px 95px;
    z-index:-3;
}
@keyframes spinner8
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 165px 95px;
}
.spin9:hover{
		position:absolute;
    animation-name: spinner9;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:95px 305px;
    z-index:-3;
}
@keyframes spinner9
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 95px 305px;
}
.circle15{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:60px;
	top:270px;
}
.halfcircle4{
	width: 35px;
	height: 70px;
	background: white;
	position:absolute;
	left:95px;
	top:270px;
}
.circle16{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:60px;
	top:200px;
}

.spin10:hover{
		position:absolute;
    animation-name: spinner10;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:95px 165px;
    z-index:-3;
}
@keyframes spinner10
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 95px 165px;
}

.circle17{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:60px;
	top:130px;
}
.quartercircle7{
	width: 35px;
	height: 35px;
	background: white;
	position:absolute;
	left:95px;
	top:130px;
}
.quartercircle8{
	width: 35px;
	height: 35px;
	background: white;
	position:absolute;
    left:60px;
	top:165px;
}

.spin11:hover{
		position:absolute;
    animation-name: spinner11;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:95px 95px;
    z-index:-3;
}
@keyframes spinner11
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    transform-origin: 95px 95px;
}

.circle18{
	width: 70px;
	height: 70px;
	background:#4d1f20;
	border-radius:35px;
	position:absolute;
	left:60px;
	top:60px;
}
.halfcircle5{
		width: 35px;
	height: 70px;
	background: white;
	position:absolute;
	left:60px;
	top:60px;
}

.plane2{
	height:400px;
    width:400px;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    border-style:solid;
    border-color:black;
}