body{
    background-color:white;
    color: #9a9c9c;
    font-size:18px;
    font-family: brandon-grotesque,futura, helvetica, sans-serif;
    text-align:center;
}
a{
    color:#9a9c9c;
    text-decoration:none;
}
.header{
    color: #9a9c9c;
    position: absolute;
    font-size:16px;
    line-height: 160%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    height:100px;
    letter-spacing:2px;
}

.rectangle{
    color:white;
    background-color:#9a9c9c;
    font-size:16px;
    letter-spacing:2px;
}

.text{
     color: #9a9c9c;
     text-align:left;
     font-size:13px;
}