
.button{
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	width: 200px;
	height:200px;
	text-align: center;
	background-color: gray;
	border-radius: 20px;
	position: absolute;
	font: 15px brandon-grotesque,futura, helvetica, sans-serif;
	color: white;
}


.shape{
	position:absolute;
	width:30px;
	height: 30px;
	background-color: lime;
	text-align: center;
	padding: 25px;
	border-radius: 20px;
	font: 17px brandon-grotesque,futura, helvetica, sans-serif;
	color:white;
	line-height:30px;
}

