.body{
	background-image:none;
		font-size:50px;
	font: helvetica;
	text-decoration:none;
	color:#9a9c9c;
	   text-align:center;
	
}

.container{
	font-size:50px;
	font: helvetica;
	text-decoration:none;
	color:#9a9c9c;
	   text-align:center;
	
}
.text1{
	font-size:50px;
	font: helvetica;
	text-decoration:none;
	color:#9a9c9c;
	   text-align:center;
	
}
.text2{
	font-size:50px;
	font: helvetica;
	text-decoration:none;
	color:#9a9c9c;
	   text-align:center;
	
}
.text3{
	font-size:50px;
	font: helvetica;
	text-decoration:none;
	color:#9a9c9c;
	   text-align:center;
	
}



a{
    text-decoration:none;
    color:#9a9c9c;
}

.button{
	height:300px;
	width:300px;
	background-color:lime;
	display: inline-block; 
 margin:auto;
 right: 0;
  bottom: 0;
  
}

.button2{
	height:300px;
	width:300px;
	background-color:blue;
	display: inline-block;
}

.button3{
	height:300px;
	width:300px;
	background-color:gray;
	display: inline-block;
}

.button4{
	height:300px;
	width:300px;
	background:url(chess.jpg);
		display: inline-block;
}
.button5{
	height:300px;
	width:300px;
	background:url(dots.jpg);
		display: inline-block;
}
.button6{
	height:300px;
	width:300px;
	background:url(line.jpg);
		display: inline-block;
}
.button7{
	height:300px;
	width:300px;
	background-color:black;
		display: inline-block;
}
.button8{
	width: 300px;
	height: 300px;
	background: red;
	border-radius: 150px;
	background-color:black;
		display: inline-block;
}
.button9{
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid black;
		display: inline-block;
}


.sushi1{
	height:150px;
	width:150px;
	top:20px;
	left:20px;
background:url(sushi.jpg);
	position:absolute;
}

.sushi2{
	height:150px;
	width:150px;
	top:100px;
	left:500px;
		position:absolute;
background:url(sushi.jpg);
}

.sushi3{
	height:150px;
	width:150px;
	top:400px;
	left:700px;
	position:absolute;
background:url(sushi.jpg);
}

.sushi4{
	height:150px;
	width:150px;
	top:200px;
	left:900px;
background:url(sushi.jpg);
	position:absolute;
}

.ice1{
	height:150px;
	width:100px;
	top:20px;
	left:20px;
background:url(ice.jpg);
	position:absolute;
}

.ice2{
	height:150px;
	width:100px;
	top:100px;
	left:500px;
		position:absolute;
background:url(ice.jpg);
}

.ice3{
	height:150px;
	width:100px;
	top:400px;
	left:700px;
	position:absolute;
background:url(ice.jpg);
}

.ice4{
	height:150px;
	width:100px;
	top:200px;
	left:900px;
background:url(ice.jpg);
	position:absolute;
}
.cake1{
	height:150px;
	width:150px;
	top:20px;
	left:20px;
background:url(cupcake.jpg);
	position:absolute;
}

.cake2{
	height:150px;
	width:150px;
	top:100px;
	left:500px;
		position:absolute;
background:url(cupcake.jpg);
}

.cake3{
	height:150px;
	width:150px;
	top:400px;
	left:700px;
	position:absolute;
background:url(cupcake.jpg);
}

.cake4{
	height:150px;
	width:150px;
	top:200px;
	left:900px;
background:url(cupcake.jpg);
	position:absolute;
	
}

.clown{
	height:250px;
	width:500px;
background:url(clown.gif);
	position:absolute;
	margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dance{
	height:480px;
	width:480px;
background:url(dance.gif);
	position:absolute;
	margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.piano{
	height:270px;
	width:500px;
background:url(piano.gif);
	position:absolute;
	margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



